//Note this Token will only work on roses.media, generate your own one at MapBox using your own account for testing.
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=sk.eyJ1IjoicmVueXN0diIsImEiOiJjbTk3ZHpid2YwNjllMmtzNnJlbjg1dXV0In0.qjWaSQQlab0CxVTgLF6itQ