@import "tailwindcss";

@font-face {
  font-family: "ff-good-web-pro-condensed";
  src:
    url("/good-pro-cond-ultra-italic.woff2") format("woff2"),
    url("/good-pro-cond-ultra-italic.woff") format("woff"),
    url("/good-pro-cond-ultra-italic.otf") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: "soleil";
  src:
    url("/soleil-book.woff2") format("woff2"),
    url("/soleil-book.woff") format("woff"),
    url("/soleil-book.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

.title-text {
  font-family: "ff-good-web-pro-condensed", sans-serif;
  font-weight: 900;
  font-style: "italic";
}

.body-text {
  font-family: "soleil", sans-serif;
  font-weight: 500;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "soleil", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.home-link {
  background-color: #ef4444;
  color: #fafafa;
  padding: 10px 40px 10px 40px;
  border-radius: 9999px;
  font-size: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .home-link:hover {
    transform: scale(1.05);
  }
}

.slack-link {
  background-color: #000;
  color: #fafafa;
}

.status-img {
  border-radius: 9999px;
  margin-left: auto;
}

.status-label {
  padding-right: 20px;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: var(--group-wrap, wrap);
  justify-content: center;
  align-items: center;
  gap: var(--group-gap, var(--mantine-spacing-md));
}
